.Rproj.user
.Rhistory
.RData
*.o
*.so
*.dll
CRAN-RELEASE
src/Makevars
config*
proj_conf_test*
inst/doc
docs
/doc/
/Meta/
bin
.vscode
python/build
python/pylasr.egg-info
python/dist
python/build
*.bak*
*.a